<div class="card">
    <h2 class="card-header">{{titulo}}</h2>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/examenes/form">Crear Nuevo</button>
        <div class="alert alert-info" *ngIf="lista?.length===0">
            No hay Examen en el sistema
        </div>
        <table class="table table-hover table-stiped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>asignatura</th>
                    <th>preguntas</th>
                    <th>creado</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of lista">
                    <td>{{examen.id }}</td>
                    <td>{{examen.nombre }}</td>
                    <td>{{examen.asignaturaPadre?.nombre}} - {{examen.asignaturaHija?.nombre}}</td>
                    <td>{{examen.preguntas.length}} preguntas</td>
                    <td>{{examen.createAt | date: 'dd/MM/yyyy'}}</td>
                    <td> <button class="btn btn-warning btn-sm" [routerLink]="['/examenes/form', examen.id]">Editar</button>
                    </td>
                    <td> <button class="btn btn-danger btn-sm" (click)="eliminar(examen)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <mat-paginator [length]="totalRegistros" [pageIndex]="paginaActual" [pageSize]="totalPorPaginas" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
